.cover__titulo{
    max-width: 656px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1;
    text-align: center;
    color: #FFFDFD;
}

@media screen and (max-width:777px){
    .cover__titulo{
        font-size: 60px;
    }
    
}
@media screen and (max-width:647px){
    .cover__titulo{
        font-size:32px;
    }
}