.lead__subtitle{
    max-width: 720px;
    height: 72px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: white;
    padding-top: 32px;
}