.cover__botao{
    width: 191px;
    height: 48px;
    background: #0278FE;
    border-radius: 4px;
    color: white;
}

.cover__botao:hover{
    background: #0063D2;
}

.cover__botao:hover ~ .cover__overlay{
    opacity: 0.8; 
}