.place__artista{
    max-width: 58px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;  
    line-height: 1;
    letter-spacing: 0.12em;
    color: #AAAAAA;
    padding-bottom: 8px;
}